{%load static%}

<div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>,
                made with <i class="fa fa-heart"></i> by
                <a href="" class="font-weight-bold" target="_blank">Adarsh
                    Shukla</a>
                for a better web.
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link text-muted" >Dashboard</a>
                </li>
                <li class="{% url 'order' %}">
                    <a href="" class="nav-link text-muted"
                        target="_blank">Orders</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'billing' %}" class="nav-link text-muted" target="_blank">Billing</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'tools' %}" class="nav-link pe-0 text-muted"
                        target="_blank">Tools</a>
                </li>
            </ul>
        </div>
    </div>
</div>